<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>კომუნალურები</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="styles/financialservices.css">
    <link rel="stylesheet" href="../static/styles/financialservices.css">
    <script rel="script" src="javascript/mobilejs.js"></script>
    <script rel="script" src="../static/javascript/mobilejs.js"></script>
</head>
<body>
<div class="container">
    <form action="/financialservices" method="post" style="width: 1024px;margin: 0">
        <div class="box">
            <p><b>შეიყვანეთ პირადი ნომერი</b></p><br>
            <input style="size: auto" class="inputs" id="privateId" name="privateId" type="text" autocomplete="off" required>
        </div>
        <div class="box">
            <p><b>შეიყვანეთ ანგარიშის ნომერი (ფორმატი : GE00XX0000000000000000)</b></p><br>
            <input style="size: auto" class="inputs" id="bankAccount" name="bankAccount" type="text" autocomplete="off" required>
        </div>
        <div class="box">
            <p><b>შეიყვანეთ მობილურის ნომერი</b></p><br>
            <input style="size: auto" class="inputs" id="phoneNumber" name="phoneNumber" type="text" autocomplete="off" required>
        </div>
        <div class="box">
            <p><b>შეიყვანეთ ჩასარიცხი თანხა</b></p>
            <input onchange="validate()" max="100" min="1" style="text-align: right;width: 491px" class="inputs" id="amount" name="amount" type="number" autocomplete="off" required>
            <br><b><span style="font-size: 15px" id="result"></span></b>
            <p style="padding: 25px"><b>მინიმუმ 1 ლარი,მაქსიმუმ 100 ლარი.(საკომისიო შეადგენს 1%)</b></p>
        </div>
        <button class="btn btn-success" type="submit" style="width: 50%;height: 124px;color: black;font-size: 35px">გადახდა</button>
        <a href="/"><button class="btn btn-danger" type="button" style="float:right;width: 50%;height: 124px;color: black;font-size: 35px">გაუქმება</button></a>
    </form>
</div>
<script>
    $(function () {
        $("#privateId").mask("99999999999");
    });

    $(function () {
        $("#bankAccount").mask("GE99aa9999999999999999");
    });

    $(function(){
        $("#phoneNumber").mask("599-999-999");
    });
</script>
</body>
</html>