<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>მთავარი</title>
    <link href="styles/index.css" rel="stylesheet">
    <link href="../static/styles/index.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <a href="/mobile">
        <div class="box">
                მობილური
        </div>
    </a>
    <a href="/charity">
        <div class="box">
            ქველმოქმედება
        </div>
    </a>
    <a href="/utility">
        <div class="box">
            კომუნალურები
        </div>
    </a>
    <a href="/financialservices">
        <div class="box">
            ფინანსური მომსახურება
        </div>
    </a>
</div>
</body>
</html>