<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>მობილური</title>
    <link rel="stylesheet" href="styles/mobile.css">
    <link rel="stylesheet" href="../static/styles/mobile.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <form action="/mobile" method="post" style="width: 1024px;margin: 0">
    <div class="box">
        <p><b>შეიყვანეთ მობილურის ნომერი</b></p><br>
        <input style="size: auto" class="inputs" id="phoneNumber" name="phoneNumber" type="text" autocomplete="off" required>
    </div>
    <div class="box">
        <p><b>შეიყვანეთ ჩასარიცხი თანხა</b></p>
        <input max="100" min="1" style="text-align: right" class="inputs" id="amount" name="amount" type="text" autocomplete="off" required>
        <p style="padding: 25px"><b>მინიმუმ 1 ლარი,მაქსიმუმ 100 ლარი.(საკომისიო შეადგენს 1%)</b></p>
    </div>
    <button class="btn btn-success" type="submit" style="width: 50%;height: 124px;color: black;font-size: 35px">გადახდა</button>
        <a href="/"><button class="btn btn-danger" type="button" style="float:right;width: 50%;height: 124px;color: black;font-size: 35px">გაუქმება</button></a>
    </form>
</div>
<script>
    $(function(){
        $("#phoneNumber").mask("599-999-999");
    });
</script>
</body>
</html>